[Unit]
Description=RPi AP tools updater
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
WorkingDirectory=/
EnvironmentFile=-/etc/default/rpi_ap_tools_update
ExecStart=/usr/bin/env bash /home/pi/update_ap.sh
TimeoutStartSec=0
User=root
